<div>
  <div class ="table" >
    <% if @events.any? %>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.full_date %></td>
          <td><%= event.description %></td>
          <td><%= event.wines_number %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>No events yet</tr>
    <% end %>
  </div>
</div>
<%= link_to "Add an event", new_event_path, class: "btn" %>
